<script type="text/template" id="tempInvoice_result">
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <h2 class="text-warning">开票成功！</h2>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5 col-xs-offset-1">
                                <h5>流水号：<span  class="text-info" id="padSaleNo"><%=PadSaleNo%></span></h5>
                            </div>
                            <div class="col-xs-3 col-xs-offset-3">
                                <div class="btn-group-vertical">
                                    <a class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span>&nbsp;短&nbsp;信&nbsp;</a>
                                    <a class="btn btn-default hide"><span class="glyphicon glyphicon-print"></span>&nbsp;打&nbsp;印&nbsp;</a>
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="填入手牌号" id="handCard"/>
                                        <span class="input-group-btn">
                                            <a class="btn btn-default" href="#bindHandCard" id="btn_bindHandcard"><span class="glyphicon glyphicon-tag" ></span>&nbsp;手&nbsp;牌&nbsp;</a>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item media">
                        <div class="row">
                            <img class="media-object col-xs-3 col-xs-offset-1" src="/Sale/Barcode1v?code=<%=PadSaleNo%>"/>
                            <div class="col-xs-3 col-xs-offset-5">
                                <div class="btn-group-vertical">
                                    <a class="btn btn-default hide">&nbsp;发&nbsp;送&nbsp;</a>
                                    <a class="btn btn-default hide">&nbsp;打&nbsp;印&nbsp;</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item media">
                        <div class="row">
                            <img  class="media-object col-xs-3 col-xs-offset-1" src="/Sale/Barcode2v?code=<%=PadSaleNo%>"/>
                            <div class="col-xs-3 col-xs-offset-5">
                                <div class="btn-group-vertical">
                                    <a class="btn btn-default hide">&nbsp;发&nbsp;送&nbsp;</a>
                                    <a class="btn btn-default hide">&nbsp;打&nbsp;印&nbsp;</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</script>

<script type="text/javascript">

    //#region   声明InvoiceResultView
    if (window.Sale.InvoiceResultView == undefined) {
        window.Sale.InvoiceResultView = Backbone.View.extend({
            template: _.template($("#tempInvoice_result").html()),
            render: function (PadSaleNo) {
                this.$el.html(this.template({ "PadSaleNo": PadSaleNo }));
            }
        });
    }
    //#endregion

</script>

<script type="text/javascript">
    var invoiceResultView;
    var invoice_xsTotal=0;
    $(function () {
        invoiceResultView = new window.Sale.InvoiceResultView({
            el:"#invoice_result"
        });
        for (var i = 0; i < salePluList.length; i++) {
            invoice_xsTotal += Math.round(salePluList.at(i).get("XsTotal") * 10000) / 10000;
        }
        invoice_xsTotal = Math.round(invoice_xsTotal * 100) / 100;
        if (curVip != undefined) {
            $("#invoice_vipCard_no").html(curVip.get("VipCardNO"));
        }
        $("#invoice_xsTotal").html("￥" + invoice_xsTotal);
        if (hasInvoice) {
            $("#invoice").addClass("disabled");
        }
    })
</script>

<div class="panel-body">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
            <h4 class="text-primary">@ViewBag.Invoice_Title</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <h5>专柜：</h5>
        </div>
        <div class="col-xs-3 ">
            <h5 class="text-info">@ViewBag.ShopCode - @ViewBag.ShopName</h5>
        </div>
        <div class="col-xs-2">
            <h5>营业员：</h5>
        </div>
        <div class="col-xs-3">
            <h5 class="text-info">@ViewBag.UserCode - @ViewBag.UserName</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <h5>会员卡：</h5>
        </div>
        <div class="col-xs-3">
            <h5 class="text-info" id="invoice_vipCard_no"></h5>
        </div>
        <div class="col-xs-2">
            <h5>总金额：</h5>
        </div>
        <div class="col-xs-3">
            <h4 class="text-danger" id="invoice_xsTotal"></h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <p class="text-muted">@ViewBag.Invoice_Remark</p>
        </div>
        <div class="col-xs-2">
            <a class="btn btn-default" id="btn_invoice" href="#invoice"><span class="glyphicon glyphicon-send"></span>&nbsp;开&nbsp;票&nbsp;</a>
        </div>
    </div>
    <hr />
    <div id="invoice_result">

    </div>
</div>